
*.xcworkspacedata

DragReaction/DragReaction.xcodeproj/project.xcworkspace/xcuserdata/isaac.xcuserdatad/UserInterfaceState.xcuserstate

DragReaction/DragReaction.xcodeproj/xcuserdata/isaac.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

DragReaction/DragReaction.xcodeproj/xcuserdata/isaac.xcuserdatad/xcschemes/DragReaction.xcscheme

DragReaction/DragReaction.xcodeproj/xcuserdata/isaac.xcuserdatad/xcschemes/xcschememanagement.plist
